<table>
  <tbody>
    <%  post.comments.each do |comment| %>
    <tr>
      <td>
        <%= link_to admin_user_post_path(post.user, post) do %>
          <%= comment.admin.last_name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= comment.comment %></td>
    </tr>
    <tr>
      <td>
        <% if comment.admin == current_admin %>
          <%= link_to "Destroy", admin_user_post_comment_path(post.user, post, comment), method: :delete, class: "btn btn-sm btn-danger float-end" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

