// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.meal-spacing {
     margin-bottom: 20px; /* 朝食や昼食の下に10ピクセルのマージンを追加する */
   }

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ADCDEC;

  }

  table.table-striped tbody tr:nth-of-type(even) {
    background-color: white;
  }

.table-striped {
  color: black;
  border: double 5px #668ad8;/*二重線 太さ 色*/
  background: #f1f8ff;
  padding: 0.5em 0.5em 0.5em 2em;
  line-height: 1.5;
  padding: 0.5em 0;
}

.card-img-top {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.show-post-image{
	width: 300px;
	height: 300px;
	object-fit: contain;
	}
