// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.meal-spacing {
     margin-bottom: 20px; /* 朝食や昼食の下に10ピクセルのマージンを追加する */
   }

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ADCDEC;
  }

  table.table-striped tbody tr:nth-of-type(even) {
    background-color: white;
  }