<h1><%= @user.full_name %>様のTodoリスト</h1>

<%= link_to '新規作成', new_admin_user_todo_path(@user) %>
<table>
  <thead>
    <tr>
      <th>Todo</th>

    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.todo %></td>
      <td><%= link_to '編集', edit_admin_user_todo_path(@user, todo) %></td>

    </tr>
    <% end %>
  </tbody>
</table>
