<div class="container">
    <div class="row justify-content-center mt-5">
        <div class=" col-2 text-center">
           <h1>About</h1>
        </div>
    </div>
    <p class="text-center mt-5" >
     このサイトは、食事指導を受けていただいたお客様に、
    </p>
    <p class="text-center mt-5" >
     食事を良い方向に変えていくための食事記録アプリです。
    </p>
    <p class="text-center mt-5" >
     毎日TodoリストでTodoを確認していただきながら食事を記録し、
    </p>
    <p class="text-center mt-5" >
     食事を意識していただくことが目的です。
    </p>


</div>