main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  height: 100vh;
  position: relative;
  min-height: calc(100vh - footerの高さ);
  overflow-y: auto;

  background-image: image-url("dot.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* 背景画像が画面いっぱいに広がるように表示 */
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}



footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

 position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

.navbar-text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.date-time-block {
  margin-bottom: 10px;
}

.genre-block {
  margin-top: 20px;
}