<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>



<% unless @user.guest_user? %>
<div class="row">
  <%= link_to "",edit_user_path(@user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@user.id}" %>
</div>
<% end %>
